.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #001a66;
    border-color: #001a66;
}

.btn-primary:hover {
    color: #fff;
    background-color: #001a66;
    border-color: #001a66;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #001a66;
    border-color: #001a66;
    box-shadow: 0 0 0 0.2rem rgba(0, 26, 102, 0.5);
}